@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* all color palate variables--*/
:root {
    --Black: #000000;
    --White: #ffffff;

    --header-bg: #1F2937;
    --header-btn-dark: #7E22CE;
    --header-btn-light: #C9A9EE;

    --banner-bg:#101827;
    --banner-text:#909CA9;
    --banner-highlight:#9334E9;

  
}

body {
    width: 100%;
    height: 200vh;
    background-color: transparent;
    /*off the horizantal scrolling*/
    overflow-y: auto;
    overflow-x: hidden;
}

/*here the heading styles*/
.heading-content {
    position: fixed;
    width: 100%;
    height: 100px;
    padding: 0 3vw 0 3vw;
    z-index: 3;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    /*temputary color*/
    /* background-color: #9334E9; */
}

.nav-links-tag {
    text-decoration: none;
    /*temputary color*/
    color: var(--White);
}
#logo{
    text-decoration: none;
}
.navs-link {
    display: flex;
    align-items: center;
}
.nav-links-tag {
    margin: 10px;
}



/* button for the dark and light mode */
.toggle-switch {
    position: relative;
    display: flex;
    justify-content: center;
    width: 60px;
    height: 34px;
}

.toggle-switch input[type="checkbox"] {
    display: none;
}

.toggle-switch label {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 17px;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.toggle-switch label:before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-image: url(img/moon.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, );
    transition: transform 0.3s;
}

.toggle-switch input[type="checkbox"]:checked+label {
    background-color: Black;
}

.toggle-switch input[type="checkbox"]:checked+label:before {
    transform: translateX(26px);
    background-image: url(img/sun.jpg);
    background-size: cover;
    background-position: center;
}

/*upper part is for the dark and light mode */


/* for the main body start from here  */
main {
    position: absolute;
    top: 100px;
    background-color: transparent;
    width: 100%;
    height: 100%;
}

/* the baner portion is from here  */
.banner {
    position: fixed;
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: black;
}

/* recomendation box */
.recomendation{
    width: 100%;
    height: 300vh;
    /* background-color: var(--recomendation-bg-light); */
    z-index: 2;
    position: relative;
    top: 50vh;
    padding: 20px 10em 0 10em;
    text-align: center;
}

/* cover section */
.cover-image-box {
    width: 600px;
    height: 100%;
    background-color: transparent;
}


#dark-img,
#light-img {
    width: 800px;
    height: 100%;
    opacity: 1;
    display: none;
    /* z-index: -1; */
}

#dark-img {
    mix-blend-mode: screen;
}

#light-img {
    mix-blend-mode: multiply;
}

/*here the content that have in the banner section..*/
.cover-content {
    background-color: transparent;
    /* width: 100%;
    height: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}